<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Red Ciudadana" />

	<link rel="icon" href="/elementos/redciudadana.png" type="image/png">

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/maingrid.css" type="text/css" />

	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="/css/colors.php?color=F9BE79" type="text/css" />

	<!-- Forum Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/demos/forum/forum.css" type="text/css" /> <!-- Forum Custom Css -->
	<link rel="stylesheet" href="/demos/forum/css/fonts.css" type="text/css" /> <!-- Forum Custom Fonts -->
	<!-- / -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	

    {% block head %}
    {% endblock %}

</head>

<body class="stretched search-overlay">
	
		
		{% block content %}

        {% endblock %} 
	

    {% block body_javascripts %}

    {% endblock %}

	<script>
      if (window.netlifyIdentity) {
          window.netlifyIdentity.on('init', (user) => {
          if (!user) {
              window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
              });
          }
          });
      }
    </script>
    
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	</body>
</html>
