---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Partidos Públicos | Red Ciudadana</title>

{% endblock %}

{% block content %}
	<div></div>
{% endblock %}

{% block body_javascripts %}
	
{% endblock %}